# Q.1

In [16]:
print('Twinkle, twinkle, little star, \n\tHow I wonder what you are! \n\t\tUp above the world so high, \n\t\tLike a diamond in the sky.\nTwinkle, twinkle, little star, \n\tHow I wonder what you are!')

Twinkle, twinkle, little star,
	How I wonder what you are!
		Up above the world so high,
		Like a diamond in the sky.
Twinkle, twinkle, little star,
	How I wonder what you are!

# Q.2

In [20]:
from platform import python_version
print(python_version())

3.7.4

# Q.3

In [24]:
import datetime
now = datetime.datetime.now()
print ("Current date and time : ")
print (now.strftime("%d-%m-%Y %H:%M:%S"))

Current date and time :
22-10-2021 00:13:47

# Q.4

In [16]:
import math

print('The value of pi is: ', math.pi)

The value of pi is:  3.141592653589793

In [17]:
radius = int(input('Enter the radius of circle'))

Area_of_cricle = (math.pi)*(radius)**2
Area_of_cricle

Enter the radius of circle12

452.3893421169302

# Q.5

In [54]:
First_Name = str(input('Your First Name'))
Last_Name = str(input('Your Last Name'))

Full_Name_In_Reverse_Order = Last_Name + ' ' + First_Name

Your First NameJaved
Your Last NameKhan

In [55]:
print(Full_Name_In_Reverse_Order)

Khan Javed

# Q.6

In [48]:
Math_Marks = int(input('Obtainig marks from Math 10th Class Paper'))
Biology_Marks = int(input('Obtainig marks from Biology 10th Class Paper'))
print(Math_Marks + Biology_Marks)

Obtainig marks from Math 10th Class Paper100
Obtainig marks from Biology 10th Class Paper75
175

# Q.7

In [18]:
Total_Marks = 500

Eng_Marks_Obtain = int(input('Your English Marks'))
Isl_Marks_Obtain = int(input('Your Islamiyat Marks'))
Math_Marks_Obtain = int(input('Your Math Marks'))
Urdu_Total_Marks = int(input('Your Urdu Marks'))
Science_Total_Marks = int(input('Your Science Marks'))
Total_Marks_Obtain = Eng_Marks_Obtain + Isl_Marks_Obtain + Math_Marks_Obtain + Urdu_Total_Marks + Science_Total_Marks

Marks_Percentage = Total_Marks_Obtain / Total_Marks * 100
Marks_Percentage

if Marks_Percentage < 100 and Marks_Percentage > 80:
    print('A+ Grade');
elif Marks_Percentage < 80 and Marks_Percentage > 70:
    print('A Grade');
elif Marks_Percentage < 70 and Marks_Percentage > 60:
    print('B Grade');
elif Marks_Percentage < 60 and Marks_Percentage > 50:
    print('C Grade');
elif Marks_Percentage < 50 and Marks_Percentage > 40:
    print('D Grade');
elif Marks_Percentage < 40 and Marks_Percentage >= 33:
    print('E Grade');
elif Marks_Percentage > 33: print('Fail');

Your English Marks75
Your Islamiyat Marks89
Your Math Marks95
Your Urdu Marks76
Your Science Marks67
A+ Grade

# Q.8

In [53]:
number = int(input('input your number'))
if number % 2 == 0:
    print('Even Number')
else:
    print('Odd Number')

input your number99
Odd Number

# Q.9

In [31]:
a = [1,2,3,4,5,6]
a

[1, 2, 3, 4, 5, 6]

In [33]:
len(a)

6

# Q.10

In [28]:
a

[1, 2, 3, 4, 5, 6]

In [27]:
sum(a)

21

# Q.11

In [34]:
a

[1, 2, 3, 4, 5, 6]

In [36]:
max(a)

6

# Q.12

In [21]:
a = [1,1,2,3,5,8,13,21,34,55,89]
a

[1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]

In [26]:
for numbers in a:
    if numbers < 5:
        print(numbers)

1
1
2
3